
.buscaminas {
    border: 7px solid #808080;
    margin: 1em;
}
.facil{
    width: 214px;
}

.medio{
    width: 364px;
}

.dificil{
    width: 514px;
}
.contenido{
    max-width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.fila{
    display: flex;
	flex-wrap: wrap;
}
.celda {
    background-color: #E7E7E7;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #808080;
}

.bloque {
    background-color: #c0c0c0;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid #808080;
    border-right: 3px solid #808080;
}

.oculto{
    display: none;
}

.number1{
    color: #070bb4;
}

.number2{
    color: #196f19;
}